@model IEnumerable<FreshAir.Models.Event>

@{
    ViewData["Title"] = "Events Attending";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Events You Are Attending</h1>


<p>
    <a asp-action="HostedEvents"class="btn btn-primary">Events You're Hosting</a>
</p>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
            @item.Activity - @item.LocationsName
        </div>
        <div class="card-body">
            <h3 class="card-title">@item.ScheduledTIme</h3>
            <p class="card-text">@item.Description</p>
            <a asp-action="AttendedEventDetails" asp-route-id="@item.EventId" class="btn btn-primary">Event Info</a>
        </div>
    </div>
}

