@model FreshAir.Models.Athlete

@{
    ViewData["Title"] = "MyDetails";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Your Information</h1>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
    <hr />
    <dl class="row">
        <div>
            <img src="~/images/@Model.ProfilePicture" class="rounded-circle" width="200" height="200" asp-append-version="true" />
        </div>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstInterest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstInterest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondInterest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondInterest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdInterest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThirdInterest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AthleticAbility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AthleticAbility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceModifier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DistanceModifier)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditAthlete" asp-route-id="@Model.AthleteId">Edit Your Information</a> |
    <a asp-action="EditProfilePicture" asp-route-id="@Model.AthleteId">Update Profile Picture</a> |
    <a asp-action="Index">Back to List</a>
</div>

