@model FreshAir.Models.Event

@{
    ViewData["Title"] = "My Event Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>My Event Details</h1>

<div>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Activity  - @Model.LocationsName</h5>
            <h6 class="card-subtitle mb-2 text-muted">Scheduled Time: @Model.ScheduledTIme</h6>
            <p class="card-text">
                <div>Event Info: @Model.Description</div>

                <div>Skill Level: @Model.SkillLevel</div>

                <div>Athletic Ability: @Model.AthleticAbility</div>

                <div>Number of Attendees: @Model.AttendanceCount</div>

                <div>Accessibliity: @Model.AthleticAbility</div>
            </p>
            <div>
                <a asp-action="AthletesAttending" asp-route-id="@Model.EventId" class="btn btn-primary">Attendees</></a>
            </div>

            <div>
                <a asp-action="ChatWithAttendees" asp-route-id="@Model.EventId" class="btn btn-primary">Chat With Attendees</></a>
            </div>

            <div>
                <a asp-action="RemoveEvent" asp-route-id="@Model.EventId" class="btn btn-primary">Remove Event</></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
        <img src="~/images/@ViewBag.LocationPicture" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Event Location - @Model.LocationsName</h5>
            <p class="card-text">@ViewBag.LocationDescription</p>
            <a asp-action="LocationDetails" asp-route-id="@Model.LocationId" class="btn btn-primary">Location Details</a>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
        <img src="~/images/@ViewBag.HostPicture" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Host Athlete</h5>
            <p class="card-text">@ViewBag.HostAthleteName</p>
            <a asp-action="Details" asp-route-id="@Model.HostAthleteId" class="btn btn-primary">Host Athlete Details</a>
        </div>
    </div>
    <a asp-action="Index">Back to List</a>
</div>
