@model IEnumerable<FreshAir.Models.Event>

@{
    ViewData["Title"] = "Suggested Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Suggested Events For You</h1>
<br />
<div class="col-md-2">
    <div id="googleMap" style="height:400px;width:400px;"></div>
</div>
<br />
@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
            @item.Activity - @item.LocationsName
        </div>
        <div class="card-body">
            <h3 class="card-title">@item.ScheduledTIme.Value.ToShortDateString() @item.ScheduledTIme.Value.ToShortTimeString()</h3>
            <p class="card-text">@item.Description</p>
            <a asp-action="EventDetails" asp-route-id="@item.EventId" class="btn btn-primary">Event Info</a>
        </div>
    </div>
    <script>
        var lat = @item.LocationsLatitude;
        var lng = @item.LocationsLongitude;
        markersLat.push(lat);
        markersLng.push(lng);
    </script>
}
<script>
    function myMap() {
        var myCenter = new google.maps.LatLng(@ViewBag.AthleteLat, @ViewBag.AthleteLng);
        var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        for (var i = 0; i < markersLat.length; i++) {
            marker = new google.maps.Marker({
            position: { lat: markersLat[i], lng: markersLng[i]},
            map: map
            });
        }
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.APIKeys&callback=myMap"></script>
<a asp-action="Index" class="btn btn-primary">Back to Home</a>

