@model IEnumerable<FreshAir.Models.Location>

@{
    ViewData["Title"] = "View Near Locations";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Locations Near You</h1>

<p>
    <a asp-action="GoCreateNewLocation">Create Location</a>
</p>
@foreach (var item in Model)
{
<div class="card" style="width: 25rem;">
    <img src="~/images/@item.Picture" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">
            <h5>@item.LocationName</h5> 
        </p>
        <p class="card-text">
            <div>
                @item.Address
            </div>
            <div>
                @item.City,
                @item.State
                @item.ZipCode
            </div>
        </p>
        <p class="card-text">
            @item.Description
        </p>
        <p class="card-text">
            <a asp-action="LocationsEvents" asp-route-id="@item.LocationId" class="btn btn-primary">Events at this Location</a>
        </p>
        <p class="card-text">
            <a asp-action="CreateEvent" asp-route-id="@item.LocationId" class="btn btn-primary">Create New Event Here</a>
        </p>
    </div>
</div>
}
