@model IEnumerable<FreshAir.Models.Location>

@{
    ViewData["Title"] = "ViewNearLocations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Locations Near You</h1>

<p>
    <a asp-action="GoCreateNewLocation">Create Location</a>
</p>
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="~/images/@item.Picture" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                <div>
                    @item.Address
                </div>
                <div>
                    @item.City,
                    @item.State
                    @item.ZipCode
                </div>

            </p>
            <p class="card-text">
                @item.Description
            </p>
            <p class="card-text">
                <a asp-action="LocationDetails" asp-route-id="@item.LocationId">Details</a> |
                <a asp-action="CreateEvent" asp-route-id="@item.LocationId">Create New Event Here</a>
            </p>
        </div>
    </div>
}
